# This is Git's per-user configuration file.
[user]
	name = Shingo
	email = boomker@users.noreply.github.com

[core]
    # detects filemode changes
    filemode = true
    pager = delta
    # defaults to $VISUAL or $EDITOR which is set in .bash.d/env.sh
    editor = nvim
    ignorecase = false
    # global .gitignore
    excludesfile = ~/.gitignore
    # stops unicode chars coming out as \xxx and double quoted filenames in git status (used in .bash.d/git.sh git_rm_untracked function)
    quotePath = false

[interactive]
    diffFilter = delta --color-only

[include]
    path = /Users/cyzhu/.config/delta/themes.gitconfig

[delta]
    features = mantis-shrimp
    navigate = true  # use n and N to move between diff sections
    side-by-side = false
    line-numbers = true
    true-color = always
    tabs = 4

[rebase]
    autoStash = true
[pull]
    rebase = true
[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[alias]
    co  = checkout
    sb  = switch
    nb  = switch -c
    st  = status
    cp  = cherry-pick
    ss  = stash save
    sl  = stash list
    sa  = stash apply
    sd  = stash drop
    ac  = commit --amend --no-edit
    uc  = commit --amend -m
    rbi  = rebase -i
    rbm  = pull origin main --rebase
    lt = log --oneline -10 --pretty=format:'%C(bold red)%h%Creset -%C(bold green)%d %C(bold yellow)%s %Creset- %C(red)%cd %Creset- %C(dim green)%an' --date=format:'%Y-%m-%d %H:%M:%S'
    latest = log --oneline --all -10 --pretty=format:'%C(bold red)%h%Creset -%C(bold green)%d %C(bold yellow)%s %Creset- %C(red)%cd %Creset- %C(dim green)%an' --date=format:'%Y-%m-%d %H:%M:%S'
    lall = log --oneline --all --pretty=format:'%C(bold red)%h%Creset -%C(bold green)%d %C(bold yellow)%s %Creset- %C(red)%cd %Creset- %C(dim green)%an' --date=format:'%Y-%m-%d %H:%M:%S'
    root = rev-parse --show-toplevel
    smupdate = submodule update --rebase --init --recursive

[color]
    ui     = auto
    diff   = auto
    grep   = auto
    # do not set always here, use:
    # -c color.status=always
    # for specific overrides, otherwise may break gitci and related functions
    status = auto
    branch = auto

[color "branch"]
    current     = green ul
    local       = yellow
    remote      = red        # default
    plain       = white

[color "grep"]
    context     = white
    filename    = cyan
    function    = yellow
    linenumber  = white
    match       = white magenta
    selected    = green
    separator   = white

[color "status"]
    added       = white blue
    changed     = magenta
    untracked   = cyan
    branch      = magenta blink
    nobranch    = red blink

[help]
    autocorrect = 1
[init]
    defaultBranch = main
[http "https://github.com"]
    ; proxy = http://127.0.0.1:7890
    proxy = socks5://127.0.0.1:1080
    postBuffer = 524288000
[https "https://github.com"]
    sslVerify = false
    ; proxy = http://127.0.0.1:7890
    proxy = socks5://127.0.0.1:1080
    postBuffer = 524288000
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
