host *
    ServerAliveInterval 60
    ServerAliveCountMax 30
    TCPKeepAlive yes
    # SendEnv LANG LC_*
    # SendEnv TERM xterm-256color
    # Compression yes
    # ControlMaster auto
    # ControlPersist yes
    # ControlPath ~/.ssh/socks/%h-%p-%r

# host github.com
#     ProxyCommand nc -X 5 -x 127.0.0.1:1086 %h %p

Host github.com
Hostname ssh.github.com
Port 443
User git


host JumpServer_Srv
    user root
    hostname 172.20.6.79
    port 22
    IdentityFile ~/.ssh/id_rsa 

