[metadata]
name = "git-commits"
description = "A channel to select from git log entries"
requirements = ["git"]

[source]
command = 'git log --branches --since="12 hour ago" --color=always --format="%C(red)%h%C(reset) %C(yellow)%D%C(reset) %s %C(green)%ci%C(reset)" --date-order'
output = "{strip_ansi|split: :0}"
ansi = true

[preview]
command = "git show -p --stat --pretty=fuller --color=always '{strip_ansi|split: :0}' | head -n 100"
