" Pycharm IDE for vim conf
let mapleader=";"
set easymotion
set surround
set multiple-cursors
set commentary
set keep-english-in-normal-and-restore-in-insert

" 显示当前模式
set showmode
" 共享系统粘贴板
set clipborad=unamed
set clipboard+=ideaput
" 打开行号
set number
" 打开相对行号
" set relativenumber
" 设置命令历史记录条数
set history=2000
" 关闭兼容vi
set nocompatible
" 开启语法高亮功能
syntax enable
" 允许用指定语法高亮配色方案替换默认方案
syntax on
" 模式搜索实时预览,增量搜索
set incsearch
" 设置搜索高亮
set hlsearch
" 忽略大小写 (该命令配合smartcase使用较好，否则不要开启)
set ignorecase
" 模式查找时智能忽略大小写
set smartcase
" vim自身命令行模式智能补全
set wildmenu
" 总是显示状态栏
set laststatus=2
" 显示光标当前位置
set ruler
" 高亮显示当前行/列
set cursorline
"set cursorcolumn
" 禁止折行
set nowrap
" 将制表符扩展为空格
set expandtab
" 设置编辑时制表符占用空格数
set tabstop=4
" 设置格式化时制表符占用空格数
set shiftwidth=4
" 让 vim 把连续数量的空格视为一个制表符
set softtabstop=4
" 基于缩进或语法进行代码折叠
set foldmethod=indent
set foldmethod=syntax
" 启动 vim 时关闭折叠代码
set nofoldenable

map <Leader> <Plug>(easymotion-prefix)
map <Leader>fl <Plug>(easymotion-lineanywhere)
nnoremap <silent> <Leader><space> :<C-u>nohlsearch<CR><C-l>
nnoremap <CR> :
nmap H ^
nmap L $
nmap d<CR> dG
nmap dj 2dd
nmap dk k2dd
nmap Y y$
nmap y<CR> yG
nmap yj 2yy
noremap zv zC
nmap <leader>bn gt
nmap <leader>bb gT
nmap <Leader>t <C-]>
noremap <leader>vr "0p

noremap <leader>db :action Debug<CR>
noremap <leader>dr :action Resume<CR>
noremap <leader>ds :action stop<CR>
noremap <leader>lb :action ToggleLineBreakpoint<CR>
